@import 'map/_leaflet.scss';

.legend {
  display: flex;
  margin-top: 5px;

  li {
    font-size: 16px;
    height: 16px;
    line-height: 16px;
    margin-right: 1em;
    position: relative;

    &.count {
      flex: 1;
      margin-right: 0;
      text-align: right;
    }
  }
  span {
    display: inline-block;
    margin-left: 20px;
  }
  svg {
    height: 16px;
    fill-opacity: 0.3;
    position: absolute;
    stroke-opacity: 0.7;
    stroke-width: 1px;
    width: 16px;
  }

  .offline {
    fill: #c00;
    stroke: #c00;
  }
  .online {
    fill: #03f;
    stroke: #03f;
  }
}

.popup {
  h2 {
    font-size: 15px;
    margin-bottom: 3px;
  }
  h3 {
    margin-top: .5em;
  }
  img {
    height: 136px;
    width: 200px;
  }
  p {
   margin-top: 0;
  }
}

.viewdata {
  button {
    flex: 0 1 auto;
    width: auto;
  }
  form {
    display: flex;
    flex-flow: row wrap;
  }
  h2 {
    width: 100%;
  }
  select {
    flex: 3;
    width: auto;
  }
}
